 @model PaginationResponse<BarberShopRole>
 @inject BarberShop.Web.Services.IUsersServices _usersService

@{
    ViewData["Title"] = "Roles";
}

<div class="pagetitle">
    <h1>Roles</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Roles</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">

    <div class="card">

        <div class="card-header py-3">
            <div class="row">
                <h3 class="m-2 font-weight-bold col-md-11" style="font-family: 'Roboto', sans-serif; color: #000000; font-style: italic; padding: 10px">Roles</h3>

                @if (await _usersService.CurrentUserIsAuthorizedAsync("createRoles", "Roles"))
                {
                    <div class="col-md-1">
                        <a asp-action="Create" class="btn bg-danger text-white"><i class="bi bi-plus-square-fill"></i></a>
                    </div>
                }

            </div>
        </div>

        <div class="card-body mt-2">

            <form class="navbar-search" asp-action="Index" method="GET">
                <input type="hidden" name="Page" value="@Model.CurrentPage" />
                <input type="hidden" name="RecordsPerPage" value="@Model.RecordsPerPage" />

                <div class="input-group mb-3">

                    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar.." aria-label="Search" asp-for="@Model.Filter" name="Filter">

                    <div class="input-group-append">
                        <button class="btn bg-danger text-white" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>

            </form>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th> Rol </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Name) </td>

                            <td>

                                @if (item.Name != Env.SUPER_ADMIN_ROLE_NAME)
                                {
                                    @if (await _usersService.CurrentUserIsAuthorizedAsync("updateRoles", "Roles"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark btn-sm me-2"><i class="bi bi-brush-fill"></i> Editar</a>
                                    }

                                    @if (await _usersService.CurrentUserIsAuthorizedAsync("deleteRoles", "Roles"))
                                    {
                                        <form asp-action="Delete" asp-route-id="@item.Id" style="display:contents">
                                            <button class="btn btn-danger btn-sm btnDelete"><i class="bi bi-trash2-fill"></i> Eliminar</button>
                                        </form>
                                    }
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

            @* Paginación *@
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    @*Primero*@
                    <li class="page-item">
                        <a class="page-link @(Model.CurrentPage == 1 ? "disabled" : "" )"
                           asp-action="Index"
                           asp-route-Page="1"
                           asp-route-Filter="@Model.Filter"
                           asp-route-RecordsPerPage="@Model.RecordsPerPage">
                            &laquo;
                        </a>
                    </li>

                    @*Anterior*@
                    <li class="page-item">
                        <a class="page-link @(!Model.HasPrevious ? "disabled" : "" )"
                           asp-action="Index"
                           asp-route-Filter="@Model.Filter"
                           asp-route-Page="@(Model.CurrentPage - 1)"
                           asp-route-RecordsPerPage="@Model.RecordsPerPage">
                            &lsaquo;
                        </a>
                    </li>

                    @*Paginas*@
                    @foreach (int page in Model.Pages)
                    {

                        <li class="page-item">
                            <a class="page-link @(Model.CurrentPage == page ? "active" : "" )"
                               asp-action="Index"
                               asp-route-Filter="@Model.Filter"
                               asp-route-Page="@(page)"
                               asp-route-RecordsPerPage="@Model.RecordsPerPage">
                                @(page)
                            </a>
                        </li>
                    }

                    @*Siguiente*@
                    <li class="page-item">
                        <a class="page-link @(!Model.HasNext ? "disabled" : "" )"
                           asp-action="Index"
                           asp-route-Filter="@Model.Filter"
                           asp-route-Page="@(Model.CurrentPage + 1)"
                           asp-route-RecordsPerPage="@Model.RecordsPerPage">
                            &rsaquo;
                        </a>
                    </li>

                    @*Último*@
                    <li class="page-item">
                        <a class="page-link @(Model.TotalPages == Model.CurrentPage ? "disabled" : "" )"
                           asp-action="Index"
                           asp-route-Filter="@Model.Filter"
                           asp-route-Page="@Model.TotalPages"
                           asp-route-RecordsPerPage="@Model.RecordsPerPage">
                            &raquo;
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</section>

@section Scripts {
    <script>

        $(document).ready(function () {

            $('.btnDelete').click(function (event) {

                event.preventDefault();

                Swal.fire({
                    title: "¿Desea eliminar el Rol?",
                    text: "No prodrá revertirlo",
                    icon: "question",
                    showCancelButton: true,
                }).then((result) => {

                    if (result.isConfirmed) {

                        const form = $(this).closest('form');

                        form.submit();
                    }

                });

            });

        });

    </script>
}
