@model PaginationResponse<Appointment>
@inject BarberShop.Web.Services.IUsersServices _usersService

@{
    ViewData["Title"] = "Cita";
}

<div class="pagetitle">
    <h1>Appointment</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Appointment</li>
        </ol>
    </nav>
</div>


<section class="section dashboard">

    <div class="card">

        <div class="card-header py-3">

            <div class="row">

                <h3 class="m-2 font-weight-bold col-md-11" style="font-family: 'Roboto', sans-serif; color: #000000; font-style: italic; padding: 10px">Citas</h3>

                @if (await _usersService.CurrentUserIsAuthorizedAsync("createAppointments", "Appointments"))
                {
                    <div class="col-md-1">
                        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square-fill"></i></a>
                    </div>
                }

            </div>


        </div>

        <div class="card-body mt-3">
            <form class="navbar-search" asp-action="Index" method="GET">

                <input type="hidden" name="Page" value="@Model.CurrentPage" />
                <input type="hidden" name="RecordsPerPage" value="@Model.RecordsPerPage" />

                <div class="input<group mb-3">

                    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." aria-label="Search" asp-form="@Model.Filter" name="Filter" />

                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>

            </form>
            <h5 class="card-title">Tabla De Citas</h5>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Time</th>
                        
                        <th scope="col">IdHaircut</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Appointment item in Model.List)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Time</td>
                            
                            <td>@item.IdHaircut
                            <td>
                            <td>

                             
                                <div class="d-flex">
                                            @if (await _usersService.CurrentUserIsAuthorizedAsync("updateAppointments", "Appointments"))
                                            {
                                                <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-dark btn-sm me-2">
                                                    <i class="bi bi-brush-fill"></i> Editar
                                                </a>
                                            }
                                            @if (await _usersService.CurrentUserIsAuthorizedAsync("deleteAppointments", "Appointments"))
                                            {
                                                <form asp-action="Delete" asp-route-Id="@item.Id" method="post" class="m-0">
                                                    <button type="submit" class="btn btn-danger btn-sm btnDelete">
                                                        <i class="bi bi-trash2-fill"></i> Eliminar
                                                    </button>
                                                </form>
                                            }
                                </div>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>

            <nav aria-label="">
                <ul class="pagination justify-content-center">

                    @* Primero *@
                    <li class="page-item">
                        <a class="page-link @(Model.CurrentPage == 1 ? "disabled" : "")"
                           asp-action="Index"
                           asp-route-page="1"
                           asp-route-Filter="@Model.Filter"
                           asp-route-RecordsPerPage="@Model.RecordsPerPage">
                            &laquo;
                        </a>
                    </li>

                    @* Anterior *@
                    <li class="page-item">
                        <a class="page-link @(!Model.HasPrevious ? "disabled" : "")"
                           asp-action="Index"
                           asp-route-page="@(Model.CurrentPage - 1)"
                           asp-route-Filter="@Model.Filter"
                           asp-route-RecordsPerPage="@Model.RecordsPerPage">
                            &lsaquo;
                        </a>
                    </li>

                    @* Páginas *@
                    @foreach (int page in Model.Pages)
                    {
                        <li class="page-item">
                            <a class="page-link @(Model.CurrentPage == page ? "disabled" : "")"
                               asp-action="Index"
                               asp-route-page="@(page)"
                               asp-route-Filter="@Model.Filter"
                               asp-route-RecordsPerPage="@Model.RecordsPerPage">
                                @(page)
                            </a>
                        </li>
                    }

                    @* Siguiente *@
                    <li class="page-item">
                        <a class="page-link @(!Model.HasNext ? "disabled" : "")"
                           asp-action="Index"
                           asp-route-page="@(Model.CurrentPage + 1)"
                           asp-route-Filter="@Model.Filter"
                           asp-route-RecordsPerPage="@Model.RecordsPerPage">
                            &rsaquo;
                        </a>
                    </li>

                    @* Último *@
                    <li class="page-item">
                        <a class="page-link @(Model.TotalPages == Model.CurrentPage ? "disabled" : "")"
                           asp-action="Index"
                           asp-route-page="@(Model.TotalPages)"
                           asp-route-Filter="@Model.Filter"
                           asp-route-RecordsPerPage="@Model.RecordsPerPage">
                            &raquo;
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


</section>


@section Scripts {

    <script>

        $(document).ready(function () {

            $('.btnDelete').click(function (event) {

                event.preventDefault();

                Swal.fire({

                    title: "¿Desea eliminar la Blog?",
                    text: "No podrá revertirlo",
                    icon: "question",
                    showCancelButton: true,

                }).then((result) => {

                    if (result.isConfirmed) {

                        const form = $(this).closest('form');

                        form.submit();
                    }
                });

            });
        });

    </script>

}