@inject BarberShop.Web.Services.IUsersServices _usersService

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="index.html">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!--Aqui se agregan los elementos del SideBar-->
        @if (await _usersService.CurrentUserIsAuthorizedAsync("showCategories", "Categorias"))
        {
            <li class="nav-item">
                <a class="nav-link  @(ViewContext.RouteData.Values["Controller"].ToString() == "Categories" ? "" : "collapsed")"
                   asp-controller="Categories"
                   asp-action="Index">
                    <i class="bi bi-person"></i>
                    <span>Categorias</span>
                </a>
            </li>
        }
        @if (await _usersService.CurrentUserIsAuthorizedAsync("showHaricuts", "Cortes de pelos"))
        {
            <li class="nav-item">
                <a class="nav-link  @(ViewContext.RouteData.Values["Controller"].ToString() == "Haircut" ? "" : "collapsed")"
                   asp-controller="Haircut"
                   asp-action="Index">
                    <i class="bi bi-person"></i>
                    <span>Cortes de pelos</span>
                </a>
            </li>
        }
        
        @if (await _usersService.CurrentUserIsAuthorizedAsync("showAppointments", "Appointments"))
        {
            <li class="nav-item">
                <a class="nav-link  @(ViewContext.RouteData.Values["Controller"].ToString() == "Appointment" ? "" : "collapsed")"
                 asp-controller="Appointment"
                 asp-action="Index">
                 <i class="bi bi-person"></i>
                 <span>Citas</span>
            </a>
        </li>
        }
        
        @if (await _usersService.CurrentUserIsAuthorizedAsync("showUsers", "Usuarios"))
        {
            <li class="nav-item">
                <a class="nav-link  @(ViewContext.RouteData.Values["Controller"].ToString() == "Users" ? "" : "collapsed")"
                   asp-controller="Users"
                   asp-action="Index">
                    <i class="bi bi-person"></i>
                    <span>Usuarios</span>
                </a>
            </li>
        }
        @if (await _usersService.CurrentUserIsAuthorizedAsync("showRoles", "Roles"))
        {
            <li class="nav-item">
                <a class="nav-link  @(ViewContext.RouteData.Values["Controller"].ToString() == "Roles" ? "" : "collapsed")"
                   asp-controller="Roles"
                   asp-action="Index">
                    <i class="bi bi-person"></i>
                    <span>Roles</span>
                </a>
            </li>
        }

    </ul>

</aside>