@model PaginationResponse<Haircut>

@{
    ViewData["Title"] = "corte de pelo";
}

<div class="pagetitle">
    <h1>Haircut</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Haircut</li>
        </ol>
    </nav>
</div>


<section class="section dashboard">

    <div class="card">

        <div class="card-header py-3">

            <div class="row">

                <h3 class="m-2 font-weight-bold col-md-11" style="font-family: 'Roboto', sans-serif; color: #000000; font-style: italic; padding: 10px">Cortes</h3>

                <div class="col-md-1">
                    <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square-fill"></i></a>
                </div>

            </div>


        </div>

        <div class="card-body mt-3">
            <form class="navbar-search" asp-action="Index" method="GET">

                <input type="hidden" name="Page" value="@Model.CurrentPage" />
                <input type="hidden" name="RecordsPerPage" value="@Model.RecordsPerPage" />

                <div class="input<group mb-3">

                    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." aria-label="Search" asp-form="@Model.Filter" name="Filter" />
                    
                    <div class="input-group-append">
                        <button class="btn btn-primary" type= "submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            
            </form>
            <h5 class="card-title">Tabla De Cortes</h5>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Rating</th>
                        <th scope="col">IdCategory</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Haircut item in Model.List)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Rating</td>
                            <td>@item.IdCategory<td>
                            <td>
                            
                                <div class="d-flex">
                                    <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-dark btn-sm me-2">
                                        <i class="bi bi-brush-fill"></i> Editar
                                    </a>

                                    <form asp-action="Delete" asp-route-Id="@item.Id" method="post" class="m-0">
                                        <button type="submit" class="btn btn-danger btn-sm btnDelete">
                                            <i class="bi bi-trash2-fill"></i> Eliminar
                                        </button>
                                    </form>
                                </div>
                                                      
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</section>

@section Scripts {

    <script>

        $(document).ready(function () {

            $('.btnDelete').click(function (event) {

                event.preventDefault();

                Swal.fire({

                    title: "¿Desea eliminar la Blog?",
                    text: "No podrá revertirlo",
                    icon: "question",
                    showCancelButton: true,

                }).then((result) => {

                    if (result.isConfirmed) {

                        const form = $(this).closest('form');

                        form.submit();
                    }
                });

            });
        });

    </script>

}